.image {
float: left;
width: 50px;
height: 50px;
}
.image-table{
margin-top: 12px;
margin-left: 20px;
float: left;
border: 1px solid black;  
}
.image:hover{
scale: 2;
}
.hidden {
display: none;
}
.formNumber{
text-align: center;
position: fixed;
top: 20px;
right: 310px;
height: 30px;
border: none;
border-radius: 20px;
position: fixed;
}
#toggle-sidebar-btn {
text-align: center;
position: fixed;
top: 20px;
right: 0px;
height: 20px;
width: 190px;
border: none;
border-radius: 20px;
}
.openform{
text-align: center;
position: fixed;
top: 20px;
right: 200px;
height: 20px;
width: 190px;
border: none;
border-radius: 20px;
position: fixed;
height: 20px;
width: 100px;

}
.openform:hover{
background-color: #286090;
color: rgb(255, 255, 255);
}
#toggle-sidebar-btn:hover {
background-color: #286090;
color:white;
}
.sidebar {
text-align: left;
position: absolute;
top: 50px; /* adjust this value to leave some space between button and sidebar */
right: 0;
width: 150px;
background-color: #f1f1f1;
padding: 20px;
z-index: 1;
visibility: hidden;
transition: all 0.1s ease-in-out;
opacity: 0.8;
border-radius: 20px;    
}
.sidebar:hover{
background-color: #286090;
color:white;
}
/* The Modal (background) */
.modal {
display: none;
position: fixed;
z-index: 1;
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 30%;
    height: 45%;
   
  }
  .modal-content input[type="file"] {
    margin: 30px auto;
    text-align: center;
  }
  .modal-content input[type="text"] {
    margin-left: 30px auto;
    text-align: center;
  }
  .modal-content input[type="radio"] {
    margin-left: 30px auto;
    text-align: center;
  }
  /* The Close Button */
  .close {
    cursor: pointer;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  input[type="text"]{
    width: 80%;
    padding: 12px 20px;
    margin-left: 40px ;
    margin-top: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  input[type="password"]{
    text-align: center;
    width: 80%;
    padding: 12px 20px;
    margin-left: 40px ;
    margin-top: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  input[type="file"]{
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin-left: 80px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 50%;
    justify-content: center;
  }
  .time{
    margin-left: 160px;
  }
  .buttonform {
    width: 80%;
    background-color: #286090;
    color: white;
    padding: 14px 20px;
    margin-top: 8px;
    margin-left: 40px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .buttonform:hover {
    background-color: #337ab7;
  }
#show-password {
    margin: 20px 0;
}
  